*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    width: 40vw;
    height: 80vh;
}


.ContainerGrid{
    max-width: 80%;
    max-height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 6);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}

.card{
    border: 1px solid black;
    max-width: 20vw;
    max-height: 40vh;
    background-color: #E1DAEF;
    width: 40vw;
    height: 20vh;
}
